.contador-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(19, 39, 56);
}

.counter-number{
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(3, 5, 31);
    text-align: center;
    margin: auto 1rem;
}